<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/chat/chatListStyle.css">
</head>
<body>
<div id="chat-contents">
    <h1 class="main-text">여행톡</h1>
    <hr class="bold-hr"/>
    <div class="room-count">총 3건</div>
    <hr class="thin-hr">
    <div class="d-flex">
        <a href="#" class="chat-box">
            <img src="/images/profile.jpg" alt="프로필 사진" class="profile-img">
            <div class="chat-container-50"></div>
            <div class="text-container">
                <div class="num-text">
                    <div class="name-text">NewEyes</div>
                    <div class="num">2</div>
                </div>
                <div class="content-text">제주도 가고싶다</div>
            </div>
            <div class="chat-container-10"></div>
            <div class="date-text">now</div>
        </a>
        <a href="#" class="chat-box">
            <img src="/images/profile.jpg" alt="프로필 사진" class="profile-img">
            <div class="chat-container-50"></div>
            <div class="text-container">
                <div class="num-text">
                    <div class="name-text">kiki,hi</div>
                    <div class="num">3</div>
                </div>
                <div class="content-text">내일 모레 나랑 같이 바다 갈사람~</div>
            </div>
            <div class="chat-container-10"></div>
            <div class="date-text">어제</div>
        </a>
        <a href="#" class="chat-box">
            <img src="/images/profile.jpg" alt="프로필 사진" class="profile-img">
            <div class="chat-container-50"></div>
            <div class="text-container">
                <div class="num-text">
                    <div class="name-text">lululala</div>
                    <div class="num">2</div>
                </div>
                <div class="content-text">방구석에서 코딩하려니까 힘들다 어디 놀러갈데 없나 아이고 힘들다 힘들어</div>
            </div>
            <div class="chat-container-10"></div>
            <div class="date-text">2024-05-18</div>
        </a>
    </div>
</div>
</body>
</html>