<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여정 : 여행을 정하다</title>
    <link href="/images/fav.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/chat/chatListStyle.css">

</head>
<body>
<div id="chat-contents">
    <h1 class="main-text">여행톡</h1>
    <hr class="bold-hr"/>
    <div class="room-count">총 3건</div>
    <hr class="thin-hr">
    <div class="d-flex">
        <th:block th:each="room : ${list}">
            <span class="hidden" th:id="${room.roomName}"></span>

        </th:block>
        <button class="btn btn-info" href="/chat/createRoom" data-bs-target="#roomModal" data-bs-toggle="modal" type="button">방 생성</button>
        <!-- Modal -->
        <div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="roomModalLabel">Create a New Chat Room</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/chat/createRoom" method="post" id="createRoomForm">
                            <div class="form-group mb-3">
                                <label for="name">Room Name</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="document.getElementById('createRoomForm').submit();">Create Room</button>
                    </div>
                </div>
            </div>
        </div>
        <a th:href="|@{/chat/room(roomId=1)}|" class="chat-box" onclick="window.open(this.href, 'popup', 'width=450,height=550'); return false;">
            <img src="/images/profile.jpg" alt="프로필 사진" class="profile-img">
            <div class="chat-container-50"></div>
            <div class="text-container">
                <div class="num-text">
                    <div class="name-text">채팅방이름</div>
                    <div class="num">참여자수</div>
                </div>
                <div class="content-text">가장최근메시지</div>
            </div>
            <div class="chat-container-10"></div>
            <div class="date-text">보낸시간</div>
        </a>
    </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>