<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>여정 : 여행을 정하다</title>
    <link href="/images/fav.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/chat/openChat.css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>

<div id="username-page">
    <div class="username-page-container">
        <h1 class="title">채팅방에서 사용할<br/>닉네임을 입력하세요</h1>
        <form id="usernameForm" name="usernameForm">
            <div class="form-group">
                <input type="text" id="name" placeholder="닉네임" autocomplete="off" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="accent username-submit">채팅 시작하기</button>
            </div>
        </form>
    </div>
</div>

<div id="chat-page" class="hidden">
    <div class="chat-container">
        <div class="chat-header">
            <h2>여정 오픈 채팅</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <div style="margin-left: 30px; margin-right: 30px; margin-bottom: 10px; margin-top: 20px">
        타인,기관 등의 사칭에 유의해주세요.
        금전 또는 개인정보를 요구 받을 경우 신고해 주시기 바랍니다.
        운영정책을 위반한 메시지는 신고 접수 바랍니다.
        다른 사람을 사칭하는 행위, 비방하는 행위는 삼가주시기 바랍니다.
        여정에서 즐거운 채팅 나누세요.
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="메시지를 입력하세요..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">전송</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chat/openChat.js"></script>
</body>
</html>