<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/plan/myPlanListStyle.css">

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // 현재 날짜를 얻습니다.
            const today = new Date();
            today.setHours(0, 0, 0, 0); // 시간을 00:00:00으로 설정하여 정확한 비교를 합니다.

            // 모든 dDay 요소를 선택합니다.
            const startDayElements = document.querySelectorAll('.startDay');

            // 각 요소를 순회하며 d-day를 계산합니다.
            startDayElements.forEach((element, index) => {
                // 요소의 텍스트 내용을 읽어와서 날짜로 변환합니다.
                const scheduleDate = new Date(element.textContent.trim());
                scheduleDate.setHours(0, 0, 0, 0); // 시간을 00:00:00으로 설정합니다.

                // d-day를 계산합니다.
                const timeDiff = scheduleDate - today;
                const dayDiff = Math.ceil(timeDiff / (1000 * 60 * 60 * 24)); // 밀리초를 일수로 변환합니다.

                // 해당 요소의 하위 요소인 dDay 요소를 선택합니다.
                const dDayElement = element.parentElement.querySelector('.dDay');

                // d-day를 해당 요소에 표시합니다.
                if (dayDiff === 0) {
                    dDayElement.textContent = 'D-day';
                } else if (dayDiff > 0) {
                    dDayElement.textContent = 'D-' + dayDiff;
                } else {
                    dDayElement.textContent = 'D+' + Math.abs(dayDiff);
                }
            });
        });

        function openFileUploader(index) {
            // div 클릭 시 파일 업로드 창 열기
            document.getElementById('file_' + index).click();

            // 파일이 선택되면 form을 자동으로 제출하기
            document.getElementById('file_' + index).addEventListener('change', function() {
                if (!validateForm(index)) {
                    return false; // 제출을 막음
                }

                document.getElementById('uploadForm_' + index).submit();
            });

            function validateForm() {
                var fileInput = document.getElementById('file_' + index);

                var fileName = fileInput.files[0].name;
                var validExtensions = ['jpg', 'jpeg', 'png', 'gif'];
                var fileExtension = fileName.split('.').pop().toLowerCase();

                if (!validExtensions.includes(fileExtension)) {
                    alert("올바른 이미지 확장자 jpg, jpeg, png, gif 를 선택하세요.");
                    return false;
                }

                var fileSize = fileInput.files[0].size;
                var maxSize = 10 * 1024 * 1024; //10MB 사이즈 제한

                if (fileSize > maxSize){
                    alert("파일첨부 사이즈는 10MB 이내로 가능합니다.");
                    return false;
                }

                return true;
            }
        }
    </script>
</head>
<body>
    <th:block layout:fragment="css"></th:block>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="content">
    <div id="contents">
        <h2 class="mt-3 mb-3">내 여행</h2>

        <a href="/plan/calendar" class="link">
            <div id="addPlanBtn">
                <div>
                    <img src="/images/plus.png" alt="여행 일정 만들기" id="plus"/>
                </div>
                <div>
                    <p class="fs-4 mt-3 mb-2">여행 일정 만들기</p>
                    <p>새로운 여정을 떠나보세요.</p>
                </div>
            </div>
        </a>

        <hr/>
        <p class="mt-3">총 [[${planList.count}]]건</p>
        <hr/>

        <block th:each="schedule, iterStat : ${planList.scheduleList}">

            <form action="/plan/upload" method="post" enctype="multipart/form-data" th:id="'uploadForm_' + ${iterStat.index}">
                <input type="hidden" name="scheduleNo" id="scheduleNo" th:value="${schedule.scheduleNo}"/>
                <input type="file" name="uploadFile" th:id="'file_' + ${iterStat.index}" accept="image/*" style="display:none"/>
            </form>


            <div class="planListContainer">
                <div class="planListImgBox me-3 ms-3" th:attr="onclick=|openFileUploader(${iterStat.index})|">
                    <block th:if="${planList.imageList[iterStat.index].storeName != null}">
                        <img th:src="|/plan/images/${planList.imageList[iterStat.index].storeName}|" alt="계획 섬네일" class="planListImg"/>
                    </block>
                    <block th:if="${planList.imageList[iterStat.index].storeName == null}">
                        <p class="noImg">대표 이미지를 설정해주세요.</p>
                    </block>
                </div>
                <div style="width:700px;" class="outer" th:attr="data-scheduleNo=${schedule.scheduleNo}">
                    <div id="planTitle">
                        <p class="fs-4 mb-2 titleContainer" th:text="${schedule.scheduleTitle}">제목</p>
                        <img src="/images/modify.png" style="width:32px" class="editTitleBtn inner" th:onclick="event.stopPropagation()" th:attr="data-schedule-no=${schedule.scheduleNo}, data-title=${schedule.scheduleTitle}"/>
                    </div>
                    <div id="planDay">
                        <div class="dateInfo">
                            <p class="mb-5 startDay">
                                [[${#dates.format(schedule.startDay, 'yyyy-MM-dd')}]]
                            </p>
                            <p class="mb-5 endDay">
                                &nbsp;- [[${#dates.format(schedule.endDay, 'yyyy-MM-dd')}]] |&nbsp;
                            </p>
                            <p class="mb-5 dDay"></p>
                        </div>
                        <img src="/images/modify.png" style="width:32px" class="editDayBtn mb-5 inner" th:onclick="|event.stopPropagation(); location.href='@{/plan/modifyDay(no=${schedule.scheduleNo})}'|">
                    </div>

                    <div class="placeTag">
                        <th:block th:each="place : ${planList.placeList.get(schedule.scheduleNo)}">
                            <span>#[[${place}]]</span>
                        </th:block>
                    </div>
                </div>
                <input type="button" class="deleteBtn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" th:attr="data-schedule-no=${schedule.scheduleNo}"/>
            </div>
            <hr/>

        </block>
    </div>

    <div class="modal" id="confirmDeleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">일정 삭제</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    해당 일정을 사용한 여행기도 함께 삭제됩니다.<br/>
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="confirmDeleteBtn">삭제</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="editTitleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">제목 수정</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/plan/modifyTitle" id="editTitleForm" method="post">
                    <div class="modal-body">
                        <label for="editTitle" class="form-label"><strong>제목</strong></label>
                        <input type="text" class="form-control" id="editTitle" name="editTitle"/>
                        <input type="hidden" id="no" name="no"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="edit">수정</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        // 모달이 열릴 때 data-schedule-no 값을 가져와서 confirmDeleteBtn에 저장
        var deleteBtns = document.querySelectorAll('.deleteBtn');
        var confirmDeleteModal = document.getElementById('confirmDeleteModal');
        var confirmDeleteBtn = document.getElementById('confirmDeleteBtn');

        confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; // 모달을 연 버튼
            var scheduleNo = button.getAttribute('data-schedule-no');
            confirmDeleteBtn.setAttribute('data-schedule-no', scheduleNo);
        });

        // confirmDeleteBtn 클릭 시 scheduleNo를 사용하여 삭제 링크로 이동
        confirmDeleteBtn.addEventListener('click', function () {
            var scheduleNo = this.getAttribute('data-schedule-no');
            location.href = '/plan/delete?no=' + scheduleNo;
        });

        //제목 수정
        document.querySelectorAll('.editTitleBtn').forEach(function(button) {
            button.addEventListener('click', function() {
                const no = button.getAttribute('data-schedule-no');
                const title = button.getAttribute('data-title');

                document.getElementById('no').value = no;
                document.getElementById('editTitle').value = title;

                const modal = new bootstrap.Modal(document.getElementById('editTitleModal'));
                modal.show();
            });
        });

        document.getElementById('edit').addEventListener('click', function() {
            const editTitle = document.getElementById('editTitle').value.trim();

            if (!editTitle) {
                alert('제목을 입력해주세요.');
                return;
            }

            document.getElementById('editTitleForm').submit();
        });

        const outerElements = document.querySelectorAll(".outer");

        outerElements.forEach(outer => {
            var scheduleNo = outer.getAttribute('data-scheduleNo');
            outer.addEventListener("click", () => {
                window.location.assign("/plan/write?no=" + scheduleNo);
            });
        });
    </script>
</body>
</th:block>
</html>