* {
    font-family: "Noto Sans KR", sans-serif;
}

#contents {
    width: 980px;
    margin: 0 auto;
}

#planTitle, #planDay {
    display: flex;
    align-items: flex-end;
}

#planTitle div, #planDay div {
    margin: 0 5px;
}

.editBtn {
    border: 0px;
    background-color: white;
}

#mapContainer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sortable {
    list-style-type: none;
}

li {
    margin: 20px 30px;
    padding: 20px;
}

ul {
    padding-right: 32px;
}

.hamburgerMenu {
    width: 30px;
}

.ui-state-default {
    display: flex;
    align-items: center;
    position: relative;
}

.planDetail {
    margin-left: 20px;
}

.centered-circle {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: #90bcf9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

input.deleteBtn {
    background: url("/images/close.svg") no-repeat;
    background-size: contain;
    position: absolute;
    width: 30px;
    top: 10px;
    right: 5px;
    border: none;
}

.ui-state-default:hover {
    cursor: pointer;
    background-color: #DCDCDC;
}

#buttonContainer {
    display: flex;
    justify-content: flex-end;
}

h3:hover {
    color: #3e77b6;
    cursor: pointer;
}

#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}