<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/community/commuDetailStyle.css">
</head>
<body>
<div id="contents">
    <div class="mt-5">
        <h2>강남 인근에 맛있는 라멘집 있을까요?</h2>
    </div>

    <div class="infoContainer mt-4">
        <div class="profileContainer">
            <div><img src="/images/profile.jpg" alt="프로필 사진" class="profile-img"></div>
            <div class="ms-3 mb-1">우디누나</div>
        </div>

        <div class="writeTime">3시간 전</div>
    </div>
    <hr/>

    <div class="contentContainer">라멘이 먹고 싶은데 맛집 있나요? 추천해주세요!</div>
    <hr/>

    <form action="#" method="post" id="form">
        <div class="mt-3">
            <label for="content" class="form-label"><strong>댓글</strong></label>
            <textarea name="content" id="content" class="form-control"></textarea>
        </div>

        <div class="buttonContainer mt-1">
            <button class="btn btn-sm btn-primary mb-3" type="button" id="saveBtn">작성</button>
        </div>
    </form>

    <div class="replyContainer p-2">
        <div class="mb-2"><strong>우디누나</strong></div>
        <div class="replyContent">
            <div class="mb-2">오레노 라멘 맛있어요</div>
            <div class="buttonContainer">
                <a href="#" class="me-2">수정</a>
                <a href="#">삭제</a>
            </div>
        </div>
    </div>



</div>
</body>
</html>