<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/community/commuListStyle.css">
</head>
<body>

<div id="contents">

    <h3 class="mt-3 mb-3">지역 사람들과 소통해요.</h3>

    <div id="localLinkBtnContainer" class="mt-3">
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/S.png"/>
                <p>서 울</p>
            </a>
        </div>
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/GG.png"/>
                <p>경 기</p>
            </a>
        </div>
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/GW.png"/>
                <p>강 원</p>
            </a>
        </div>
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/CB.png"/>
                <p>충 북</p>
            </a>
        </div>
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/CN.png"/>
                <p>충 남</p>
            </a>
        </div>
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/GB.png"/>
                <p>전 북</p>
            </a>
        </div>
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/GN.png"/>
                <p>전 남</p>
            </a>
        </div>
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/GB.png"/>
                <p>경 북</p>
            </a>
        </div>
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/GN.png"/>
                <p>경 남</p>
            </a>
        </div>
        <div class="localLinkBtn">
            <a href="#">
                <img class="localImg" src="/images/JJ.png"/>
                <p>제 주</p>
            </a>
        </div>
    </div>

    <div id="weatherContainer" class="mt-3">
        <!-- 추가 -->
    </div>

    <hr/>
    <div class="contentContainer">
        <div class="title">강남 인근에 맛있는 라멘집 있을까요? [2]</div>
        <div class="writer">우디누나</div>
        <div class="writeTime">12:36:20</div>
    </div>

    <hr/>
    <div class="contentContainer">
        <div class="title">안녕하세요. 가입했어요.</div>
        <div class="writer">감자</div>
        <div class="writeTime">24/05/30</div>
    </div>



</div>

</body>
</html>