<!DOCTYPE html>
<!-- layout.html -->

<!--
layout:decorate="~{layout/layout}"  란?
- 기본 레이아웃을 layout/layout.html 으로 선언
- 버전마다 선언방법이 다름 아래 참조.
- layout:decorate thymeleaf 3.* ver (이거 사용함)
- layout:decorator thymeleaf 2.* ver
 <th:block layout:fragment="content">
- 각 파일 마다, 위 코드 다음부터 작성한 내용들이 default_layout.html 의 content 부분에 위치함
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8"/>
    <title>여정 : 여행을 정하다</title>

</head>
<!-- 해당 html페이지에서만 사용할 css, script  -->
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="content">
    <body>
        <article>
            <div class="container">
                <h1>홈화면</h1>
                <h1>홈화면</h1>
                <h1>홈화면</h1>
                <h1>홈화면</h1>
                <h1>홈화면</h1>
                <h1>홈화면</h1>
                <h1>홈화면</h1>
                <h1>홈화면</h1>
                <h1>홈화면</h1>
                <h1>홈화면</h1>
                <h1>홈화면</h1>

            </div>

        </article>

    </body>
    <script type="text/javascript">
        $(document).ready(funtion(){

        });
    </script>
</th:block>
</html>