*{
    padding: 0;
    margin: 0;
    border: none;

}
body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면 전체 높이를 사용하여 수직 중앙 정렬 */
}
.login-wrapper{
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    border : 2px solid #D6D6D6;
    border-radius : 15px;
}
.snssimple{
    font-weight : 600;
    align-items: center;
    text-align : center;
    margin-bottom : 10px;
}
.login-wrapper > h2{
    font-size: 24px;
    margin-bottom: 20px;
}
.input_box{
    border : 2px solid #EDEDED;
}
#login-form > input{
    width: 100%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: #F8F8F8;
}
#login-form > input::placeholder{
    color: #D2D2D2;
}
#login-form > input[type="submit"]{
    font-size: 16px;
    background-color: #F8EEEE;
    margin-top: 10px;
}
#login-form > input[type="button"]{
    font-size: 16px;
    background-color: #F5EEF8;
}
#login-form > input[type="checkbox"]{
    display: none;
}
#login-form > label{
    color: #999999;
}
#login-form input[type="checkbox"] + label{
    cursor: pointer;
    padding-left: 26px;
    background-image: url("checkbox.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login-form input[type="checkbox"]:checked + label{
    background-image: url("checkbox-active.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px; /* 버튼 사이의 간격 */
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* 버튼의 높이 */
    border-radius: 12px; /* 이미지 바깥을 둥글게 */
    overflow: hidden; /* 둥근 모서리가 이미지에 적용되도록 */
}

.btn img {
    max-height: 100%; /* 이미지가 버튼 높이에 맞게 조정됨 */
    max-width: 100%; /* 이미지가 버튼 너비에 맞게 조정됨 */
}
