<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>여정 : 여행을 정하다</title>
    <link href="/images/fav.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/tlog/tlogWriteFormStyle.css">
</head>
<body>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="content">
    <div id="contents">
        <div><h2 class="mt-3 mb-3">나의 멋진 여행기를 공유해요.</h2></div>
        <form action="/tlog/write" method="post" enctype="multipart/form-data" id="form">
            <div>
                <label for="title" class="form-label"><strong>제목</strong></label>
                <input type="text" name="title" id="title" class="form-control" onKeyUp="javascript:fnChkByte(this,'200')"/>
            </div>

            <div class="mt-3">
                <label for="content" class="form-label"><strong>내용</strong></label>
                <textarea name="content" id="content" class="form-control" onKeyUp="javascript:fnChkByte(this,'60000')"></textarea>
            </div>

            <div class="mt-3">
                <label for="file">
                    <div class="btn-upload">사진 업로드하기</div>
                </label>
                <input type="file" name="file" id="file" accept="image/*" multiple>
                <p id="fileName" class="mb-0" style="display: inline-block">선택한 파일이 없습니다.</p>
                <img src="/images/delete.png" id="deleteImageBtn" class="mb-1"/>
            </div>

            <div class="mt-3 plan-upload">
                <button type="button" class="btn-upload" onclick="openPopup()">일정 업로드하기</button>
                <p id="planName" class="mb-0 ms-1 mt-1 me-1" style="display: inline-block">선택한 일정이 없습니다.</p>
                <img src="/images/delete.png" id="deletePlanBtn"/>
            </div>
            <input type="hidden" name="scheduleNo" id="scheduleNo"/>

            <div id="buttonContainer" class="mt-5">
                <button class="btn btn-light me-3" type="button" th:onclick="|location.href='/tlog/list'|" style="background-color: #F2F2F2; border-color: #F2F2F2; color: black;">취소</button>
                <button class="btn btn-primary" type="button" id="saveBtn" style="background-color: #3CB371; border-color: #3CB371; color:white;">저장</button>
            </div>
        </form>

    </div>

<script src="/js/tlog/tlogWriteForm.js"></script>
<script src="/js/checkSize.js"></script>
</body>
</th:block>
</html>