<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>여정 : 여행을 정하다</title>
    <link href="/images/fav.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/tlog/tlogDetailStyle.css">
</head>
<body>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<th:block layout:fragment="content">
    <div id="contents">
        <div class="mt-5">
            <h2>[[${tlogInfo.tlog.tlogTitle}]]</h2>
        </div>

        <div class="infoContainer mt-4">
            <div class="profileContainer">
                <div>
                    <img th:if="${tlogInfo.writerProfile.mCopyImg == ''}" src="/images/profile.jpg" alt="프로필 사진" class="profile-img">
                    <img th:if="${tlogInfo.writerProfile.mCopyImg != ''}" th:src="|/tlog/images/${tlogInfo.writerProfile.mCopyImg}|" alt="프로필 사진" class="profile-img">
                </div>
                <div class="ms-3 mb-1"><b>[[${tlogInfo.writerProfile.nickname}]]</b> 님의 일정</div>
            </div>
            <div class="iconContainer" th:if="${session.loginMemberInfo != null}">
                <div class="fav-img-box">
                    <block th:if="${!isFav}">
                        <img src="/images/heart_white.png" alt="즐겨찾기" class="fav-img mb-1">
                        <a th:href="|@{/tlog/fav(tlogNo=${tlogInfo.tlog.tlogNo})}|"><img src="/images/heart_black.png" alt="즐겨찾기" class="fav-img-hover mb-1"></a>
                    </block>
                    <block th:if="${isFav}">
                        <a th:href="|@{/tlog/notFav(tlogNo=${tlogInfo.tlog.tlogNo})}|"><img src="/images/heart_red.png" alt="즐겨찾기" class="fav-img-red mb-1"></a>
                    </block>
                </div>
                <div><img src="/images/download.png" alt="일정담기" class="download-img ms-3 mb-1 scheduleSaveBtn saveIcon" th:attr="scheduleNo=${tlogInfo.tlog.scheduleNo}"></div>
            </div>
        </div>
        <hr/>


        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <th:block th:each="image, iterStat: ${tlogInfo.tlogImageList}">
                    <button type="button" class="carouselBtn" data-bs-target="#carouselExampleIndicators" th:attr="data-bs-slide-to=${iterStat.index}, aria-label=|Slide ${iterStat.index + 1}|"></button>
                </th:block>
            </div>
            <div class="carousel-inner">
                <th:block th:each="image : ${tlogInfo.tlogImageList}">
                    <div class="carousel-item">
                        <img th:src="|/tlog/images/${image.storeName}|" class="d-block w-100" alt="첨부이미지">
                    </div>
                </th:block>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div class="mt-3 contentContainer">[[${tlogInfo.tlog.tlogContent}]]</div>
        <hr/>

        <div id="mapContainer">
            <div id="map" style="width:800px; height:400px;"></div>
        </div>
        <script th:inline="javascript">
            var appkey = [[${KAKAO_API_KEY}]];

            var script = document.createElement('script');
            script.type = "text/javascript";
            script.src = "//dapi.kakao.com/v2/maps/sdk.js?appkey=" + appkey + "&autoload=false";
            document.head.appendChild(script);
        </script>
        <hr/>

        <th:block th:each="day, dStat : ${tlogInfo.travelDay}">
            <h3 th:attr="onclick=|getMapByDay(${dStat.index}); scrollToElement('mapContainer')|">day [[${dStat.index + 1}]]</h3>
            <ul th:id="'day-'+${dStat.index}" class="day ulItem">
                <th:block th:each="schedule, scStat : ${tlogInfo.detailScheduleList}">
                    <th:block th:if="${schedule.detailDay == dStat.index}">
                        <li class="ui-state-default liItem" th:id="'place-'+${dStat.index}" th:attr="data-place-name=${schedule.placeName}, data-latitude=${schedule.placeLatitude},data-longitude=${schedule.placeLongitude}">
                            <div class="centered-circle"><span class="num-span" ></span></div>
                            <div class="planDetail"><h4 th:text="${schedule.placeName}" class="placeName">해운대</h4><p class="m-0 memo">[[${schedule.placeMemo}]]</p></div>
                        </li>
                    </th:block>
                </th:block>
            </ul>
            <hr/>
        </th:block>

        <div id="listButtonContainer" th:if="${session.loginMemberInfo == null}">
            <button class="btn btn-light me-2" type="button" onclick="location.href='/tlog/list'" style="background-color: #F2F2F2; border-color: #F2F2F2; color: black;">목록</button>
        </div>

        <div id="buttonContainer" th:if="${session.loginMemberInfo != null}">
            <div id="buttonContainer-left" class="mt-5">
                <button class="btn btn-light me-2" type="button" onclick="location.href='/tlog/list'" style="background-color: #F2F2F2; border-color: #F2F2F2; color: black;">목록</button>
                <th:block th:if="${tlogInfo.tlog.memberId == session.loginMemberInfo.memberId || session.loginMemberInfo.grade == '9999'}">
                    <button class="btn btn-primary me-2" type="button" th:attr="onclick=|location.href='@{/tlog/modify(no=${tlogInfo.tlog.tlogNo})}'|" style="background-color: #3CB371; border-color: #3CB371; color:white;">수정</button>
                    <button class="btn btn-primary" type="button" id="deleteBtn" style="background-color: #3CB371; border-color: #3CB371; color:white;">삭제</button>
                </th:block>
            </div>

            <div id="buttonContainer-right" class="mt-5">
                <button class="btn btn-primary scheduleSaveBtn" type="button" th:attr="scheduleNo=${tlogInfo.tlog.scheduleNo}" style="background-color: #3CB371; border-color: #3CB371; color:white;">일정담기</button>
            </div>
        </div>

    </div>

    <div class="modal" id="confirmDeleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">여행기 삭제</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <form action="/tlog/delete" method="post">
                        <input type="hidden" name="no" th:value="${tlogInfo.tlog.tlogNo}"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background-color: #F2F2F2; border-color: #F2F2F2; color: black;">취소</button>
                        <button type="submit" class="btn btn-primary" id="confirmDeleteBtn" style="background-color: #3CB371; border-color: #3CB371; color:white;">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<script src="/js/tlog/tlogDetail.js"></script>
</body>
</th:block>
</html>