<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/user/join.css}" rel="stylesheet" />
    <title>Join</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="login-wrapper">
    <h2>Join</h2>
    <form method="post" action="/user/insertMember" id="login-form">
        <!--id / pw-->
        <div class="form-row">
            <input type="text" name="memberId" placeholder="Id" class="input_box">
            <input type="password" id="pw1" name="password" oninput="pwCheck()" class="input_box" placeholder="비밀번호">
        </div>

        <div class="form-row">
            <input type="password" id="pw2" oninput="pwCheck()" class="input_box" placeholder="비밀번호 확인">
            <span id="pwConfirm">비밀번호를 입력하세요</span>
        </div>

        <!-- name / nickname -->
        <div class="form-row">
            <input type="text" name="name" placeholder="Name" class="input_box">
            <input type="text" name="nickname" placeholder="Nickname" class="input_box">
        </div>

        <!--email-->
        <div class="form-row">
            <input type="email" name="email" placeholder="Email" class="input_box full-width">
        </div>

        <!--tel / gender-->
        <div class="form-row">
            <input type="tel" name="tel" placeholder="Tel" class="input_box">
            <select name="gender" class="input_box genderselect">
                <option value="W"> Woman</option>
                <option value="M"> Man</option>
            </select>
        </div>

        <input type="submit" value="회원가입" class="submit-btn">
    </form>
</div>
<script>
    function pwCheck(){
        if($('#pw1').val() === $('#pw2').val()){
            $('#pwConfirm').text('비밀번호 일치').css('color', 'green');
        } else {
            $('#pwConfirm').text('비밀번호를 확인해주세요').css('color', 'red');
        }
    }
</script>
</body>
</html>
