<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/user/user.css">
    <title>Join</title>
</head>
<body>
<div class="login-wrapper">
    <h2>Login</h2>
    <form method="post" action="#" id="login-form">
        <input type="text" name="userName" placeholder="Email" class="input_box">
        <input type="password" name="userPassword" placeholder="Password" class="input_box">
        <label for="remember-check">
            <input type="checkbox" id="remember-check">아이디 저장하기
        </label>
        <input type="submit" value="Login">
        <input style="background-color:#F5EEF8" type="submit" value="JOIN">
    </form>
</div>
</body>
</html>