* {
    font-family: "Noto Sans KR", sans-serif;
}

#searchContainer {
    display: flex;
    align-items: center;
}

#searchInputContainer {
    width: 90%;
}

#search {
    width: 100%;
    font-size: 25px;
    padding: 10px 20px;
    border: 0px;
}

#searchIconContainer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#searchIcon {
    background: url("/images/search.png") no-repeat;
    background-size: contain;
    width: 30px;
    border: none;
}

hr {
    margin-top: 0px;
}

.planContainer {
    margin: 20px;
    padding: 20px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
}

.selectBtn {
    margin-left: auto;
}

a {
    text-decoration: none;
    color: black;
}