<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>일일 날씨</title>
    <link th:href="@{/css/dailyweather.css}" rel="stylesheet" />
</head>
<body>
<div class="weather-wrapper">
    <h1> 지금 날씨는 ?</h1>
    <div class="weather-content">
        <div class="left-side">
            <img class="icon" alt="Weather Icon" />
            <div class="desc"></div>
        </div>
        <div class="right-side">
            <div class="place">장소</div>
            <div class="temp">온도</div>
        </div>
    </div>
</div>
<script th:src="@{/js/dailyweather.js}" defer></script>
</body>
</html>