* {
    font-family: "Noto Sans KR", sans-serif;
}

.container {
    width:980px;
    margin: 0 auto;
}

.line-container-start{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.line-container-end{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.decoration {
    color: inherit;
    text-decoration: none;
}

.color-gray {
    color-gray;
}

.text-h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;

}

.border-height-2 {
    height: 2px;
    background-color: black;
}

.hr-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.title {
    font-size: 28px;
    text-decoration: none;
    color: inherit;
    max-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 92.3%;
}

.nickname {
    margin-top: 5px;
    font-size: 18px;
    color: #6E6E6E;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}

.date {
    font-size: 16px;
    color: #6E6E6E;
    max-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
}

.justify-content-end {
    align-self: flex-end;
    position: relative;
}

.form-control {
    width: 200px
}

.hr-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: black;
}

/*페이지네이션*/
.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    margin-top: 16px;
    margin-bottom: 0px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #0090F9;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}