* {
    font-family: "Noto Sans KR", sans-serif;
}

.container {
    width:680px;
    margin: 0 auto;
}

.text-h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

/*수평정렬*/
.line-container{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.color-gray {
    color-gray;
}

.border-height-2 {
    height: 2px;
    background-color: black;
}

.hr-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

/*수직정렬*/
.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    top: 50%;
    left: 50%;
    transform: translate(6%, 8%);
}

.s-text {
    font-size: 13px;
    color: #6E6E6E;
}

.m-text {
    font-size: 18px;
    color: #6E6E6E;
}

.l-text {
    font-size: 23px;
}


.img-size {
    width: 180px;
    height: 125px;
}

.title {
    color: inherit;
    text-decoration: none;
    margin-bottom: 5px;
}

.title:hover {
    text-decoration: underline;
}