<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triplan.planner.admin.repository.MemberRepository">

    <!-- 회원정보조회 -->
    <select id="selectAll" resultType="com.triplan.planner.admin.domain.Member">
        SELECT MEMBER_ID as memId, NICKNAME, PASSWORD, NAME, EMAIL, GENDER, TEL, GRADE
        FROM MEMBER
    </select>


    <!-- 특정 회원 조회 -->
    <select id="selectById" parameterType="String" resultType="com.triplan.planner.admin.domain.Member">
        SELECT * FROM MEMBER WHERE MEMBER_ID = #{memberId}
    </select>

    <!-- 회원 등급 수정 -->
    <update id="updateMemberGrade" parameterType="map">
        UPDATE MEMBER
        SET GRADE = #{grade}
        WHERE MEMBER_ID = #{memId}
    </update>



</mapper>