<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triplan.planner.calendar.repository.CalendarMapper">
    <insert id="saveDate" parameterType="dateDTO">
        INSERT INTO SCHEDULE (START_DAY, END_DAY, MEMBER_ID)
        VALUES (#{startDay}, #{endDay}, #{memberId})
    </insert>

</mapper>