<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triplan.planner.community.repository.CommunityMapper">

    <select id="getCommunityList" parameterType="string" resultType="Community">
        SELECT *
        FROM ${local}
        ORDER BY WRITE_TIME DESC
    </select>

    <insert id="insertCommunity" useGeneratedKeys="true" keyProperty="community.bno">
        INSERT INTO ${local} (TITLE, CONTENT, WRITE_TIME, MEMBER_ID)
        VALUES (#{community.title}, #{community.content}, NOW(), #{community.memberId})
    </insert>

    <select id="getCommunityByNo" resultType="Community">
        SELECT *
        FROM ${local}
        WHERE BNO=#{bno}
    </select>

    <update id="updateCommunity">
        UPDATE ${local}
        SET TITLE=#{community.title}, CONTENT=#{community.content}
        WHERE BNO=#{community.bno}
    </update>

    <delete id="deleteCommunityByNo">
        DELETE FROM ${local}
        WHERE BNO=#{bno}
    </delete>
</mapper>