<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplan.planner.mypage.repository.MyPageMapper">
    <select id="getProfileList" parameterType="String" resultType="com.triplan.planner.mypage.dto.Profile">
        SELECT * FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>
    <update id="updateProfile" parameterType="com.triplan.planner.mypage.dto.Profile">
        UPDATE MEMBER
        SET M_IMG = #{mImg},
            M_COPY_IMG = #{mCopyImg}
        WHERE MEMBER_ID = #{memberId}
    </update>
    <update id="updateInfo" parameterType="com.triplan.planner.mypage.dto.Profile">
        UPDATE MEMBER
        SET PASSWORD = #{password},
            NICKNAME = #{nickName}
        WHERE MEMBER_ID = #{memberId}
    </update>
    <select id="myFavList" parameterType="map" resultType="com.triplan.planner.mypage.dto.MyTlogList">
        SELECT A.TLOG_NO, A.TLOG_TITLE, A.TLOG_CONTENT, A.MEMBER_ID, B.STORE_NAME, DATE_FORMAT(A.WRITE_TIME, "%Y-%m-%d"), D.NICKNAME, D.M_COPY_IMG
        FROM TLOG A JOIN (SELECT STORE_NAME, TLOG_NO
                          FROM (SELECT STORE_NAME, TLOG_NO, ROW_NUMBER() OVER (PARTITION BY TLOG_NO ORDER BY (SELECT NULL)) AS RN
                                FROM TLOGIMAGE) AS RANKEDROWS
                          WHERE RN=1) B
        ON A.TLOG_NO=B.TLOG_NO JOIN FAV C
        ON B.TLOG_NO=C.TLOG_NO JOIN (SELECT MEMBER_ID, NICKNAME, M_COPY_IMG
                                     FROM MEMBER) D
        ON A.MEMBER_ID=D.MEMBER_ID
        WHERE C.MEMBER_ID = #{memberId}
        ORDER BY C.FAV_DATE DESC
        LIMIT #{startRow}, #{size}
    </select>
    <select id="tlogCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM TLOG
        WHERE MEMBER_ID = #{memberId}
    </select>
    <select id="communityCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM (
        SELECT A.*, 'CB_COMMUNITY' AS COMMUNITY_TYPE FROM CB_COMMUNITY A WHERE A.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT B.*, 'CN_COMMUNITY' AS COMMUNITY_TYPE FROM CN_COMMUNITY B WHERE B.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT C.*, 'GB_COMMUNITY' AS COMMUNITY_TYPE FROM GB_COMMUNITY C WHERE C.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT D.*, 'GG_COMMUNITY' AS COMMUNITY_TYPE FROM GG_COMMUNITY D WHERE D.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT E.*, 'GN_COMMUNITY' AS COMMUNITY_TYPE FROM GN_COMMUNITY E WHERE E.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT F.*, 'GW_COMMUNITY' AS COMMUNITY_TYPE FROM GW_COMMUNITY F WHERE F.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT G.*, 'JB_COMMUNITY' AS COMMUNITY_TYPE FROM JB_COMMUNITY G WHERE G.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT H.*, 'JJ_COMMUNITY' AS COMMUNITY_TYPE FROM JJ_COMMUNITY H WHERE H.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT I.*, 'JN_COMMUNITY' AS COMMUNITY_TYPE FROM JN_COMMUNITY I WHERE I.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT J.*, 'S_COMMUNITY' AS COMMUNITY_TYPE FROM S_COMMUNITY J WHERE J.MEMBER_ID = #{memberId}
        ) AS ALL_POSTS
    </select>
    <select id="favCount" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM FAV
        WHERE MEMBER_ID = #{memberId}
    </select>
    <select id="myTlogList" parameterType="map" resultType="com.triplan.planner.mypage.dto.MyTlogList">
        SELECT A.TLOG_NO, A.TLOG_TITLE, A.TLOG_CONTENT, A.MEMBER_ID, B.STORE_NAME, DATE_FORMAT(A.WRITE_TIME, "%Y-%m-%d"), C.NICKNAME, C.M_COPY_IMG
        FROM TLOG A JOIN (SELECT STORE_NAME, TLOG_NO
                          FROM (SELECT STORE_NAME, TLOG_NO, ROW_NUMBER() OVER (PARTITION BY TLOG_NO ORDER BY (SELECT NULL)) AS RN
                                FROM TLOGIMAGE) AS RANKEDROWS
                                WHERE RN=1) B
        ON A.TLOG_NO=B.TLOG_NO JOIN (SELECT MEMBER_ID, NICKNAME, M_COPY_IMG
                                     FROM MEMBER) C
        ON A.MEMBER_ID=C.MEMBER_ID
        WHERE A.MEMBER_ID = #{memberId}
        ORDER BY A.WRITE_TIME DESC
        LIMIT #{startRow}, #{size}
    </select>
    <select id="myComList" parameterType="map" resultType="com.triplan.planner.mypage.dto.MyCommunityList">
        SELECT ALL_POSTS.*, A.NICKNAME, A.M_COPY_IMG
        FROM (
        SELECT A.*, 'CB' AS COMMUNITY_TYPE FROM CB_COMMUNITY A WHERE A.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT B.*, 'CN' AS COMMUNITY_TYPE FROM CN_COMMUNITY B WHERE B.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT C.*, 'GB' AS COMMUNITY_TYPE FROM GB_COMMUNITY C WHERE C.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT D.*, 'GG' AS COMMUNITY_TYPE FROM GG_COMMUNITY D WHERE D.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT E.*, 'GN' AS COMMUNITY_TYPE FROM GN_COMMUNITY E WHERE E.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT F.*, 'GW' AS COMMUNITY_TYPE FROM GW_COMMUNITY F WHERE F.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT G.*, 'JB' AS COMMUNITY_TYPE FROM JB_COMMUNITY G WHERE G.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT H.*, 'JJ' AS COMMUNITY_TYPE FROM JJ_COMMUNITY H WHERE H.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT I.*, 'JN' AS COMMUNITY_TYPE FROM JN_COMMUNITY I WHERE I.MEMBER_ID = #{memberId}
        UNION ALL
        SELECT J.*, 'S' AS COMMUNITY_TYPE FROM S_COMMUNITY J WHERE J.MEMBER_ID = #{memberId}
        ) AS ALL_POSTS JOIN MEMBER A
        ON ALL_POSTS.MEMBER_ID=A.MEMBER_ID
        ORDER BY ALL_POSTS.WRITE_TIME DESC
        LIMIT #{startRow}, #{size}
    </select>
    <update id="memberLeave" parameterType="String">
        UPDATE MEMBER
        SET GRADE = 2222
        WHERE MEMBER_ID = #{memberId}
    </update>

    <update id="defaultImg" parameterType="String">
        UPDATE MEMBER
        SET M_COPY_IMG = '', M_IMG = ''
        WHERE MEMBER_ID = #{memberId}
    </update>
</mapper>