<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triplan.planner.tour.repository.TourMapper">
    <insert id="insertTourList" parameterType="com.triplan.planner.tour.dto.Api">
        INSERT INTO ATTRACTION(PLACE_NAME, PLACE_ADDRESS, PLACE_AREACODE, PLACE_TEL, PLACE_PAGE, PLACE_INTRO, PLACE_IMG)
        VALUES (#{title}, #{addr1}, #{areacode}, #{tel}, #{homepage}, #{overview}, #{firstimage})
    </insert>
    <select id="tourList" parameterType="map" resultType="com.triplan.planner.tour.dto.Attraction">
        SELECT * FROM ATTRACTION
        WHERE PLACE_AREACODE IN
        <foreach collection="areaCode" item="areaCode" open="(" close=")" separator=",">
            #{areaCode}
        </foreach>
        LIMIT #{startRow}, #{size}
    </select>
    <select id="attractionCount" parameterType="list" resultType="int">
        SELECT COUNT(*)
        FROM ATTRACTION
        WHERE PLACE_AREACODE IN
        <foreach collection="areaCode" item="areaCode" open="(" close=")" separator=",">
            #{areaCode}
        </foreach>
    </select>
    <select id="getTourDetail" parameterType="int" resultType="com.triplan.planner.tour.dto.AttractionDetail">
        SELECT * FROM ATTRACTION
        WHERE PLACE_NO = #{placeNo}
    </select>
</mapper>